@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
.title-heading {
  @apply font-bold tracking-widest text-18 text-pink-light md:text-23;
}

.title-heading-2 {
  @apply mt-4 text-23 font-bold md:text-4xl lg:leading-[60px];
}

.text-desc {
  @apply text-center text-16 text-secondary md:text-lg lg:text-start;
}

.container {
  @apply mx-auto w-full max-w-container px-[15px];
}

.footer-heading {
  @apply text-[23px] font-bold;
}

.footer-item-link {
  @apply text-lg text-dark-gray hover:text-secondary;
}

.bg-custom-explore,
.bg-travel-point {
  position: relative;
}

.bg-homepage {
  background-image: url("/Ellipse.png"), url("/Ellipse1.png");
  background-repeat: no-repeat no-repeat;
  background-position:
    top left,
    top 10% right;
}

.bg-testimonials {
  background: url("/bg-testimonials.svg") no-repeat 59% 28% / 228%;
}

.bg-travel-point::before {
  background-image: url("/public/woman.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  width: 789px;
  height: 692px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.bg-custom-explore::before {
  background-image: url("/public/layer.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  width: 772px;
  height: 288px;
  top: 0;
  left: -100px;
  position: absolute;
  z-index: -1;
}
.bound-animation {
  animation: bound-anim 1s infinite;
}

/* slider-destination */

.slider-destination .swiper-wrapper {
  @apply h-[480px] pb-6 md:h-[575px];
}
.slider-destination .swiper-slide {
  @apply flex h-full p-4 sm:p-0;
}

.slider-service .swiper-slide {
  @apply px-4 py-8 sm:px-0;
}

.slider-service .swiper-slide.swiper-slide-active > div {
  @apply shadow-primary;
}

.text-truncate-2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-truncate-3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider-testimonials #containerForBullets {
  @apply flex justify-center gap-x-2 sm:gap-x-6;
}

.swiper-custom-bullet {
  @apply inline-block w-4 h-4 -translate-y-full rounded-full cursor-pointer bg-gray-light hover:bg-pink-light md:h-6 md:w-6;
}
.swiper-custom-bullet.swiper-custom-bullet-active {
  @apply bg-pink-light;
}

.slider-partners .swiper-wrapper {
  @apply items-center;
}

@keyframes bound-anim {
  0%,
  100% {
    top: 0;
    transform: scale(1);
  }
  30% {
    top: -60%;
    transform: scale(0.96, 1.04);
  }
  60% {
    transform: scale(1);
  }
  90% {
    top: 0;
    transform: scale(1, 0.9);
  }
}

.jump-animation {
  animation: jump 2s ease-in-out infinite;
}
.jump-animation-1 {
  animation: jump 2s ease-out infinite;
}
.jump-animation-2 {
  animation: jump 2s ease-in infinite;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media only screen and (max-width: 1023px) {
  .bg-travel-point::before {
    display: none;
  }

  .bg-custom-explore::before {
    left: 0px;
  }
}
@media only screen and (min-width: 1536px) {
  .bg-testimonials {
    background: url("/bg-testimonials.svg") no-repeat 55% 34% / 226%;
  }
}
